/*main.scss*/
/*Emc2wave bootsrap Sass Theme
Vertion: 0.01*/
/*Base - *base style, variables, mixins ect. */
/*_variables.scss*/
/*Fonts*/
/*Background Color*/
/*Complementary Color sheme -default*/
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 9, ../scss/base/_normalize.scss */
.glyphicon.glyphicon-fire {
  color: #7f6c3f;
  font-size: 40px;
  margin: 20px auto 30px auto;
}

/* line 15, ../scss/base/_normalize.scss */
.iweb {
  margin-left: 20px;
}

/*_base.scss*/
/* line 3, ../scss/base/_base.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #002266;
  overflow-x: hidden;
}
/* line 13, ../scss/base/_base.scss */
body a,
body a:hover,
body a:focus,
body a:active,
body a.active {
  color: #99b2ff !important;
  outline: none;
}

/*Moduls - indivdual site components*/
/*_animations.scss*/
/*Robot------------------*/
/*color animation*/
@keyframes table-color {
  /* line 8, ../scss/moduls/_animations.scss */
  0% {
    fill: #f2c779;
  }

  /* line 9, ../scss/moduls/_animations.scss */
  100% {
    fill: #99bcff;
  }
}

/* line 12, ../scss/moduls/_animations.scss */
#table {
  animation: table-color 1s infinite linear;
}

@keyframes button-color {
  /* line 17, ../scss/moduls/_animations.scss */
  0% {
    fill: #ddddbb;
  }

  /* line 18, ../scss/moduls/_animations.scss */
  50% {
    transform: scale(1.5);
  }

  /* line 19, ../scss/moduls/_animations.scss */
  100% {
    fill: #0049e5;
  }
}

/* line 22, ../scss/moduls/_animations.scss */
#button3 {
  transform-origin: center;
  animation: button-color 5s infinite .5s;
}

/*moving robot*/
@keyframes up-down-left {
  /* line 30, ../scss/moduls/_animations.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 31, ../scss/moduls/_animations.scss */
  50% {
    transform: rotate(50deg);
  }

  /* line 32, ../scss/moduls/_animations.scss */
  100% {
    transform: rotate(-1deg);
  }
}

/* line 35, ../scss/moduls/_animations.scss */
#left-arm {
  transform-origin: 84px 140px;
  animation: up-down-left 2s ease-in .5s;
}

@keyframes up-down-right {
  /* line 41, ../scss/moduls/_animations.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 42, ../scss/moduls/_animations.scss */
  50% {
    transform: rotate(-50deg);
  }

  /* line 43, ../scss/moduls/_animations.scss */
  100% {
    transform: rotate(1deg);
  }
}

/* line 46, ../scss/moduls/_animations.scss */
#right-arm {
  transform-origin: 188px 140px;
  animation: up-down-right 2s ease-in .5s;
}

@keyframes head-shake {
  /* line 52, ../scss/moduls/_animations.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 53, ../scss/moduls/_animations.scss */
  10% {
    transform: rotate(30deg);
  }

  /* line 54, ../scss/moduls/_animations.scss */
  20% {
    transform: rotate(0deg);
  }

  /* line 55, ../scss/moduls/_animations.scss */
  30% {
    transform: rotate(30deg);
  }

  /* line 56, ../scss/moduls/_animations.scss */
  40% {
    transform: rotate(0deg);
  }

  /* line 57, ../scss/moduls/_animations.scss */
  50% {
    transform: rotate(-30deg);
  }

  /* line 58, ../scss/moduls/_animations.scss */
  60% {
    transform: rotate(0deg);
  }

  /* line 59, ../scss/moduls/_animations.scss */
  70% {
    transform: rotate(-30deg);
  }
}

/* line 62, ../scss/moduls/_animations.scss */
#head {
  transform-origin: center;
  animation: head-shake 4s ease 3s;
}

@keyframes ears-up {
  /* line 68, ../scss/moduls/_animations.scss */
  0% {
    transform: translateY(0px);
  }

  /* line 69, ../scss/moduls/_animations.scss */
  25% {
    transform: translateY(10px);
  }

  /* line 70, ../scss/moduls/_animations.scss */
  50% {
    transform: translateY(0px);
  }

  /* line 71, ../scss/moduls/_animations.scss */
  75% {
    transform: translateY(-10px);
  }

  /* line 72, ../scss/moduls/_animations.scss */
  100% {
    transform: translateY(0px);
  }
}

/* line 75, ../scss/moduls/_animations.scss */
#ears {
  animation: ears-up 1s ease 7s;
}

@keyframes leg-up {
  /* line 81, ../scss/moduls/_animations.scss */
  0% {
    transform: translateY(0px);
  }

  /* line 82, ../scss/moduls/_animations.scss */
  25% {
    transform: translateY(-20px);
  }

  /* line 83, ../scss/moduls/_animations.scss */
  50% {
    transform: translateY(0px);
  }

  /* line 84, ../scss/moduls/_animations.scss */
  75% {
    transform: translateY(-20px);
  }

  /* line 85, ../scss/moduls/_animations.scss */
  100% {
    transform: translateY(0px);
  }
}

/* line 88, ../scss/moduls/_animations.scss */
#robot-leg1 {
  animation: leg-up 3s ease-in 7s;
}

/* line 92, ../scss/moduls/_animations.scss */
#robot-leg2 {
  animation: leg-up 3s ease-in 8s;
}

@keyframes antennae1 {
  /* line 97, ../scss/moduls/_animations.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 98, ../scss/moduls/_animations.scss */
  100% {
    transform: rotate(-10deg);
  }
}

/* line 101, ../scss/moduls/_animations.scss */
#head-antennae1 {
  transform-origin: 135px 35px;
  animation: antennae1 1s ease infinite 8s;
}

@keyframes antennae2 {
  /* line 107, ../scss/moduls/_animations.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 108, ../scss/moduls/_animations.scss */
  100% {
    transform: rotate(20deg);
  }
}

/* line 111, ../scss/moduls/_animations.scss */
#head-antennae2 {
  transform-origin: 135px 35px;
  animation: antennae2 1s ease infinite 8s;
}

/*-----end robot animations*/
/*components*/
/*--------------------------
    Robot-------  */
/* line 6, ../scss/moduls/_components.scss */
#robot-head {
  width: 70px;
  height: 70px;
  fill: #997722;
  stroke: #997722;
}

/* line 13, ../scss/moduls/_components.scss */
#robot-cap {
  width: 23px;
  height: 10px;
  fill: #997722;
  stroke: #997722;
}

/* line 20, ../scss/moduls/_components.scss */
#line-antennae1, #line-antennae2 {
  fill: #997722;
  stroke: #997722;
  stroke-width: 3px;
}

/* line 26, ../scss/moduls/_components.scss */
#circle-antennae1, #circle-antennae2 {
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 31, ../scss/moduls/_components.scss */
#robot-ear1, #robot-ear2 {
  width: 10px;
  height: 20px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 38, ../scss/moduls/_components.scss */
#eye1, #eye2 {
  fill: white;
  stroke: white;
}

/* line 43, ../scss/moduls/_components.scss */
#eye11, #eye22 {
  fill: #3d424c;
  stroke: #3d424c;
}

/* line 48, ../scss/moduls/_components.scss */
#mouth {
  width: 40px;
  height: 6px;
  fill: white;
  stroke: white;
}

/* line 55, ../scss/moduls/_components.scss */
#neck {
  width: 30px;
  height: 10px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 62, ../scss/moduls/_components.scss */
#torso {
  width: 95px;
  height: 70px;
  fill: #997722;
  stroke: #997722;
}

/* line 69, ../scss/moduls/_components.scss */
#leg1, #leg2 {
  width: 20px;
  height: 60px;
  fill: #997722;
  stroke: #997722;
}

/* line 76, ../scss/moduls/_components.scss */
#shoe1, #shoe2 {
  width: 30px;
  height: 20px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 83, ../scss/moduls/_components.scss */
#join-arm1, #join-arm2 {
  width: 5px;
  height: 15px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 90, ../scss/moduls/_components.scss */
#arm1, #arm2 {
  width: 15px;
  height: 60px;
  fill: #997722;
  stroke: #997722;
}

/* line 97, ../scss/moduls/_components.scss */
#hand1, #hand2 {
  width: 25px;
  height: 5px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 104, ../scss/moduls/_components.scss */
#finger1, #finger2, #finger3, #finger4 {
  width: 6px;
  height: 20px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 111, ../scss/moduls/_components.scss */
#table {
  width: 75px;
  height: 30px;
  fill: #f2c779;
  stroke: #f2c779;
}

/* line 118, ../scss/moduls/_components.scss */
#button1, #button2, #button3 {
  fill: #ddddbb;
  stroke: #ddddbb;
}

/*--end Robot ---------------*/
/*------database--------------*/
/* line 126, ../scss/moduls/_components.scss */
#top-line, #line {
  stroke: #3d424c;
  stroke-width: 5px;
}

/* line 131, ../scss/moduls/_components.scss */
#arrow {
  fill: #3d424c;
  stroke: #3d424c;
  stroke-width: 1px;
}

/* line 137, ../scss/moduls/_components.scss */
#datab {
  width: 100px;
  height: 80px;
  fill: #f2c779;
  stroke: #3d424c;
  stroke-width: 4px;
}

/* line 145, ../scss/moduls/_components.scss */
#stripA, #stripB, #stripC {
  width: 100px;
  height: 10px;
  fill: #8899aa;
  stroke: #8899aa;
  stroke-width: 1px;
}

/*----end database-------------*

/*-----web-----------*/
/*lamp*/
/* line 157, ../scss/moduls/_components.scss */
#lamp-footA, #lamp-footB {
  fill: #0035a8;
}

/* line 161, ../scss/moduls/_components.scss */
#lamp-legA {
  fill: #0035a8;
  width: 8px;
  height: 55px;
}

/* line 167, ../scss/moduls/_components.scss */
#lamp-legB {
  fill: #0035a8;
  width: 8px;
  height: 65px;
}

/* line 173, ../scss/moduls/_components.scss */
#leg-join, #lamp-join {
  fill: #0035a8;
  stroke: white;
  stroke-width: 2px;
}

/* line 179, ../scss/moduls/_components.scss */
#lampA {
  fill: #0035a8;
  height: 40px;
  width: 30px;
}

/* line 185, ../scss/moduls/_components.scss */
#lamp-bulb {
  fill: #ffffee;
}

/*end lamp*/
/*computer*/
/* line 194, ../scss/moduls/_components.scss */
#computer {
  fill: white;
  stroke: #3d424c;
  stroke-width: 10px;
  width: 170px;
  height: 130px;
}

/* line 202, ../scss/moduls/_components.scss */
#comp-leg {
  fill: #3d424c;
}

/*end computer*/
/*mobil*/
/* line 209, ../scss/moduls/_components.scss */
#mobil {
  fill: white;
  stroke: #3d424c;
  stroke-width: 5px;
  width: 40px;
  height: 65px;
}

/* line 217, ../scss/moduls/_components.scss */
#tabloid {
  fill: white;
  stroke: #3d424c;
  stroke-width: 5px;
  width: 90px;
  height: 115px;
}

/* line 225, ../scss/moduls/_components.scss */
#SA {
  fill: #d8caad;
  stroke: #d8caad;
  stroke-width: 1px;
  width: 30px;
  height: 11px;
}

/* line 233, ../scss/moduls/_components.scss */
#SB {
  fill: #d8caad;
  stroke: #d8caad;
  stroke-width: 1px;
  width: 30px;
  height: 60px;
}

/* line 241, ../scss/moduls/_components.scss */
#SC {
  fill: #8899aa;
  stroke: #8899aa;
  stroke-width: 1px;
  width: 90px;
  height: 11px;
}

/* line 249, ../scss/moduls/_components.scss */
#SD {
  fill: #ddddbb;
  stroke: #ddddbb;
  stroke-width: 1px;
  width: 90px;
  height: 60px;
}

/* line 257, ../scss/moduls/_components.scss */
#SE {
  fill: #f2c779;
  stroke: #f2c779;
  stroke-width: 1px;
  width: 120px;
  height: 11px;
}

/* line 265, ../scss/moduls/_components.scss */
#MSA {
  fill: #99b9ff;
  stroke: #99b9ff;
  stroke-width: 1px;
  width: 29px;
  height: 6px;
}

/*_sections.scss*/
/* line 3, ../scss/moduls/_sections.scss */
section {
  padding: 100px 0;
}
/* line 6, ../scss/moduls/_sections.scss */
section h2 {
  margin: 0;
  font-size: 3em;
}

/* line 12, ../scss/moduls/_sections.scss */
#web, #network {
  background-color: #ccd8ff;
}

/* line 16, ../scss/moduls/_sections.scss */
#data, #serwer, #about {
  background-color: white;
}

/*Layouts - Page layout style*/
/*_footer.scss*/
/* line 3, ../scss/layouts/_footer.scss */
footer {
  padding: 25px 0;
  text-align: center;
  background-color: #776655;
}

/*header*/
/* line 3, ../scss/layouts/_header.scss */
header {
  text-align: center;
  background: #e3e5ea;
}
/* line 7, ../scss/layouts/_header.scss */
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
/* line 12, ../scss/layouts/_header.scss */
header svg {
  display: block;
  margin: 0 auto 20px;
}
/* line 17, ../scss/layouts/_header.scss */
header .intro-text .welcome {
  display: block;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
/* line 25, ../scss/layouts/_header.scss */
header .intro-text .make {
  font-size: 1.25em;
  font-weight: 300;
}

/*mobile*/
/*header*/
@media (min-width: 768px) {
  /* line 6, ../scss/layouts/_mobile.scss */
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  /* line 11, ../scss/layouts/_mobile.scss */
  header .intro-text .welcome {
    font-size: 4.75em;
  }

  /* line 15, ../scss/layouts/_mobile.scss */
  header .intro-text .make {
    font-size: 1.75em;
  }
}
/*----end header--------*/
/*navbar*/
@media (min-width: 768px) {
  /* line 25, ../scss/layouts/_mobile.scss */
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  /* line 32, ../scss/layouts/_mobile.scss */
  .navbarfixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* line 39, ../scss/layouts/_mobile.scss */
  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }

  /* line 43, ../scss/layouts/_mobile.scss */
  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
/*-----end navbar---------*/
/*sections*/
@media (max-width: 767px) {
  /* line 52, ../scss/layouts/_mobile.scss */
  section {
    padding: 75px 0;
  }
}
/*Navbar*/
/* line 3, ../scss/layouts/_nav.scss */
.navbar {
  background-color: #002266;
  color: white;
  margin: auto;
}
/* line 8, ../scss/layouts/_nav.scss */
.navbar a {
  color: white !important;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 16, ../scss/layouts/_nav.scss */
.navbar a.navbar-brand {
  font-size: 30px;
}
/* line 21, ../scss/layouts/_nav.scss */
.navbar .navbar-nav {
  letter-spacing: 1px;
}
