/*main.scss*/
/*Emc2wave bootsrap Sass Theme
Vertion: 0.01*/
/*Base - *base style, variables, mixins ect. */
/*_variables.scss*/
/*Fonts*/
/*Background Color*/
/*Complementary Color sheme 150 split*/
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 9, ../scss/base/_normalize.scss */
.glyphicon.glyphicon-fire {
  color: #993322;
  font-size: 40px;
  margin: 20px auto 30px auto;
}

/* line 15, ../scss/base/_normalize.scss */
.s-data, .s-web, .s-networks, .s-server, .s-about {
  margin-right: 50px;
  margin-bottom: 50px;
}

/*_base.scss*/
/* line 3, ../scss/base/_base.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  color: #002266;
  overflow-x: hidden;
}
/* line 14, ../scss/base/_base.scss */
body a,
body a:hover,
body a:focus,
body a:active,
body a.active {
  color: #99b9ff !important;
  outline: none;
}

/* line 23, ../scss/base/_base.scss */
svg {
  width: 100%;
}

/*Moduls - indivdual site components*/
/*_animations.scss*/
/*Robot------------------*/
/*color animation*/
@keyframes table-color {
  /* line 8, ../scss/moduls/_animations.scss */
  0% {
    -webkit-fill: #0049e5;
    -moz-fill: #0049e5;
    -ms-fill: #0049e5;
    -o-fill: #0049e5;
    fill: #0049e5;
  }

  /* line 13, ../scss/moduls/_animations.scss */
  100% {
    -webkit-fill: #ffffee;
    -moz-fill: #ffffee;
    -ms-fill: #ffffee;
    -o-fill: #ffffee;
    fill: #ffffee;
  }
}

/* line 20, ../scss/moduls/_animations.scss */
#table {
  -webkit-animation: table-color 1s infinite linear;
  -moz-animation: table-color 1s infinite linear;
  -ms-animation: table-color 1s infinite linear;
  -o-animation: table-color 1s infinite linear;
  animation: table-color 1s infinite linear;
}

@keyframes button-color {
  /* line 29, ../scss/moduls/_animations.scss */
  0% {
    -webkit-fill: #f28f79;
    -moz-fill: #f28f79;
    -ms-fill: #f28f79;
    -o-fill: #f28f79;
    fill: #f28f79;
  }

  /* line 36, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }

  /* line 43, ../scss/moduls/_animations.scss */
  100% {
    -webkit-fill: #0049e5;
    -moz-fill: #0049e5;
    -ms-fill: #0049e5;
    -o-fill: #0049e5;
    fill: #0049e5;
  }
}

/* line 52, ../scss/moduls/_animations.scss */
#button3 {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: button-color 5s infinite .5s;
  -moz-animation: button-color 5s infinite .5s;
  -ms-animation: button-color 5s infinite .5s;
  -o-animation: button-color 5s infinite .5s;
  animation: button-color 5s infinite .5s;
}

/*moving robot*/
@keyframes up-down-left {
  /* line 68, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 75, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* line 82, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

/* line 91, ../scss/moduls/_animations.scss */
#left-arm {
  -webkit-transform-origin: 84px 140px;
  -moz-transform-origin: 84px 140px;
  -ms-transform-origin: 84px 140px;
  -o-transform-origin: 84px 140px;
  transform-origin: 84px 140px;
  -webkit-animation: up-down-left 2s ease-in .5s;
  -moz-animation: up-down-left 2s ease-in .5s;
  -ms-animation: up-down-left 2s ease-in .5s;
  -o-animation: up-down-left 2s ease-in .5s;
  animation: up-down-left 2s ease-in .5s;
}

@keyframes up-down-right {
  /* line 105, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 112, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }

  /* line 119, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}

/* line 128, ../scss/moduls/_animations.scss */
#right-arm {
  -webkit-transform-origin: 188px 140px;
  -moz-transform-origin: 188px 140px;
  -ms-transform-origin: 188px 140px;
  -o-transform-origin: 188px 140px;
  transform-origin: 188px 140px;
  -webkit-animation: up-down-right 2s ease-in .5s;
  -moz-animation: up-down-right 2s ease-in .5s;
  -ms-animation: up-down-right 2s ease-in .5s;
  -o-animation: up-down-right 2s ease-in .5s;
  animation: up-down-right 2s ease-in .5s;
}

@keyframes head-shake {
  /* line 142, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 149, ../scss/moduls/_animations.scss */
  10% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  /* line 156, ../scss/moduls/_animations.scss */
  20% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 163, ../scss/moduls/_animations.scss */
  30% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  /* line 170, ../scss/moduls/_animations.scss */
  40% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 177, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  /* line 184, ../scss/moduls/_animations.scss */
  60% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 191, ../scss/moduls/_animations.scss */
  70% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

/* line 200, ../scss/moduls/_animations.scss */
#head {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: head-shake 4s ease 3s;
  -moz-animation: head-shake 4s ease 3s;
  -ms-animation: head-shake 4s ease 3s;
  -o-animation: head-shake 4s ease 3s;
  animation: head-shake 4s ease 3s;
}

@keyframes ears-up {
  /* line 214, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* line 221, ../scss/moduls/_animations.scss */
  25% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 228, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* line 235, ../scss/moduls/_animations.scss */
  75% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 242, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* line 251, ../scss/moduls/_animations.scss */
#ears {
  -wekit-animation: ears-up 1s ease 7s;
  -moz-animation: ears-up 1s ease 7s;
  -ms-animation: ears-up 1s ease 7s;
  -o-animation: ears-up 1s ease 7s;
  animation: ears-up 1s ease 7s;
}

@keyframes leg-up {
  /* line 260, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* line 267, ../scss/moduls/_animations.scss */
  25% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  /* line 274, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* line 281, ../scss/moduls/_animations.scss */
  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  /* line 288, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* line 297, ../scss/moduls/_animations.scss */
#robot-leg1 {
  -webkit-animation: leg-up 3s ease-in 7s;
  -moz-animation: leg-up 3s ease-in 7s;
  -ms-animation: leg-up 3s ease-in 7s;
  -o-animation: leg-up 3s ease-in 7s;
  animation: leg-up 3s ease-in 7s;
}

/* line 305, ../scss/moduls/_animations.scss */
#robot-leg2 {
  -webkit-animation: leg-up 3s ease-in 8s;
  -moz-animation: leg-up 3s ease-in 8s;
  -ms-animation: leg-up 3s ease-in 8s;
  -o-animation: leg-up 3s ease-in 8s;
  animation: leg-up 3s ease-in 8s;
}

@keyframes antennae1 {
  /* line 314, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 321, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

/* line 330, ../scss/moduls/_animations.scss */
#head-antennae1 {
  -webkit-transform-origin: 135px 35px;
  -moz-transform-origin: 135px 35px;
  -ms-transform-origin: 135px 35px;
  -o-transform-origin: 135px 35px;
  transform-origin: 135px 35px;
  -webkit-animation: antennae1 1s ease infinite 8s;
  -moz-animation: antennae1 1s ease infinite 8s;
  -ms-animation: antennae1 1s ease infinite 8s;
  -o-animation: antennae1 1s ease infinite 8s;
  animation: antennae1 1s ease infinite 8s;
}

@keyframes antennae2 {
  /* line 344, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 351, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}

/* line 360, ../scss/moduls/_animations.scss */
#head-antennae2 {
  -webkit-transform-origin: 135px 35px;
  -moztransform-origin: 135px 35px;
  -ms-transform-origin: 135px 35px;
  -o-transform-origin: 135px 35px;
  transform-origin: 135px 35px;
  -webkit-animation: antennae2 1s ease infinite 8s;
  -moz-animation: antennae2 1s ease infinite 8s;
  -ms-animation: antennae2 1s ease infinite 8s;
  -o-animation: antennae2 1s ease infinite 8s;
  animation: antennae2 1s ease infinite 8s;
}

/*-----end robot animations*/
/*---data----*/
@keyframes strips {
  /* line 377, ../scss/moduls/_animations.scss */
  0% {
    -webkit-fill: #f2f2f2;
    -moz-fill: #f2f2f2;
    -ms-fill: #f2f2f2;
    -o-fill: #f2f2f2;
    fill: #f2f2f2;
  }

  /* line 384, ../scss/moduls/_animations.scss */
  25% {
    -webkit-fill: #aaccdd;
    -moz-fill: #aaccdd;
    -ms-fill: #aaccdd;
    -o-fill: #aaccdd;
    fill: #aaccdd;
  }

  /* line 391, ../scss/moduls/_animations.scss */
  50% {
    -webkit-fill: white;
    -moz-fill: white;
    -ms-fill: white;
    -o-fill: white;
    fill: white;
  }

  /* line 398, ../scss/moduls/_animations.scss */
  75% {
    -webkit-fill: #ffffee;
    -moz-fill: #ffffee;
    -ms-fill: #ffffee;
    -o-fill: #ffffee;
    fill: #ffffee;
  }

  /* line 405, ../scss/moduls/_animations.scss */
  100% {
    -webkit-fill: #d8b5ad;
    -moz-fill: #d8b5ad;
    -ms-fill: #d8b5ad;
    -o-fill: #d8b5ad;
    fill: #d8b5ad;
  }
}

/* line 414, ../scss/moduls/_animations.scss */
#stripA {
  -webkit-animation: strips 2s ease-in-out infinite;
  -moz-animation: strips 2s ease-in-out infinite;
  -ms-animation: strips 2s ease-in-out infinite;
  -o-animation: strips 2s ease-in-out infinite;
  animation: strips 2s ease-in-out infinite;
}

/* line 422, ../scss/moduls/_animations.scss */
#stripB {
  -webkit-animation: strips 3s ease-in-out infinite 1s;
  -moz-animation: strips 3s ease-in-out infinite 1s;
  -ms-animation: strips 3s ease-in-out infinite 1s;
  -o-animation: strips 3s ease-in-out infinite 1s;
  animation: strips 3s ease-in-out infinite 1s;
}

/* line 430, ../scss/moduls/_animations.scss */
#stripC {
  -webkit-animation: strips 1s ease-in-out infinite;
  -moz-animation: strips 1s ease-in-out infinite;
  -ms-animation: strips 1s ease-in-out infinite;
  -o-animation: strips 1s ease-in-out infinite;
  animation: strips 1s ease-in-out infinite;
}

@keyframes fun-up-down {
  /* line 439, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* line 446, ../scss/moduls/_animations.scss */
  25% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }

  /* line 453, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* line 460, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* line 469, ../scss/moduls/_animations.scss */
#F1 {
  -webkit-animation: fun-up-down 1s ease infinite;
  -moz-animation: fun-up-down 1s ease infinite;
  -ms-animation: fun-up-down 1s ease infinite;
  -o-animation: fun-up-down 1s ease infinite;
  animation: fun-up-down 1s ease infinite;
}

/*-----end data-------*/
/*---web------*/
@keyframes lamp-rot {
  /* line 482, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 489, ../scss/moduls/_animations.scss */
  25% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  /* line 496, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 503, ../scss/moduls/_animations.scss */
  75% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 512, ../scss/moduls/_animations.scss */
#lamp-head {
  -webkit-transform-origin: 68px 103px;
  -moz-transform-origin: 68px 103px;
  -ms-transform-origin: 68px 103px;
  -o-transform-origin: 68px 103px;
  transform-origin: 68px 103px;
  -webkit-animation: lamp-rot 4s ease infinite;
  -moz-animation: lamp-rot 4s ease infinite;
  -ms-animation: lamp-rot 4s ease infinite;
  -o-animation: lamp-rot 4s ease infinite;
  animation: lamp-rot 4s ease infinite;
}

@keyframes bulb {
  /* line 526, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 533, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-fill: #0049e5;
    -moz-fill: #0049e5;
    -ms-fill: #0049e5;
    -o-fill: #0049e5;
    fill: #0049e5;
  }
}

/* line 547, ../scss/moduls/_animations.scss */
#lamp-bulb {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: bulb .5s linear infinite 4s;
  -moz-animation: bulb .5s linear infinite 4s;
  -ms-animation: bulb .5s linear infinite 4s;
  -o-animation: bulb .5s linear infinite 4s;
  animation: bulb .5s linear infinite 4s;
}

/*-------end web---------*/
/*-------servers-----------*/
@keyframes servers {
  /* line 564, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* line 571, ../scss/moduls/_animations.scss */
  15% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 578, ../scss/moduls/_animations.scss */
  20% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  /* line 585, ../scss/moduls/_animations.scss */
  30% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 592, ../scss/moduls/_animations.scss */
  75% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  /* line 599, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* line 608, ../scss/moduls/_animations.scss */
#comA, #comB, #comC {
  -webkit-animation: servers 1s ease infinite;
  -moz-animation: servers 1s ease infinite;
  -ms-animation: servers 1s ease infinite;
  -o-animation: servers 1s ease infinite;
  animation: servers 1s ease infinite;
}

@keyframes cloud {
  /* line 617, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 624, ../scss/moduls/_animations.scss */
  25% {
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 631, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 638, ../scss/moduls/_animations.scss */
  75% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 645, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}

/* line 654, ../scss/moduls/_animations.scss */
#comp-cloud {
  -webkit-animation: cloud 5s linear infinite 3s;
  -moz-animation: cloud 5s linear infinite 3s;
  -ms-animation: cloud 5s linear infinite 3s;
  -o-animation: cloud 5s linear infinite 3s;
  animation: cloud 5s linear infinite 3s;
}

/*-----end servers-----------*/
/*-----network------*/
@keyframes root {
  /* line 666, ../scss/moduls/_animations.scss */
  0% {
    -webkit-fill: #0049e5;
    -moz-fill: #0049e5;
    -ms-fill: #0049e5;
    -o-fill: #0049e5;
    fill: #0049e5;
    -webkit-stroke: #ffffee;
    -moz-stroke: #ffffee;
    -ms-stroke: #ffffee;
    -o-stroke: #ffffee;
    stroke: #ffffee;
  }

  /* line 678, ../scss/moduls/_animations.scss */
  50% {
    -webkit-fill: #ffffee;
    -moz-fill: #ffffee;
    -ms-fill: #ffffee;
    -o-fill: #ffffee;
    fill: #ffffee;
    -webkit-stroke: #0049e5;
    -moz-stroke: #0049e5;
    -ms-stroke: #0049e5;
    -o-stroke: #0049e5;
    stroke: #0049e5;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }

  /* line 695, ../scss/moduls/_animations.scss */
  100% {
    -webkit-fill: #0049e5;
    -moz-fill: #0049e5;
    -ms-fill: #0049e5;
    -o-fill: #0049e5;
    fill: #0049e5;
    -webkit-stroke: #ffffee;
    -moz-stroke: #ffffee;
    -ms-stroke: #ffffee;
    -o-stroke: #ffffee;
    stroke: #ffffee;
  }
}

/* line 709, ../scss/moduls/_animations.scss */
#circle-big {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: root 5s ease infinite;
  -moz-animation: root 5s ease infinite;
  -ms-animation: root 5s ease infinite;
  -o-animation: root 5s ease infinite;
  animation: root 5s ease infinite;
}

@keyframes rootA {
  /* line 723, ../scss/moduls/_animations.scss */
  0% {
    -webkit-fill: none;
    -moz-fill: none;
    -ms-fill: none;
    -o-fill: none;
    fill: none;
    -webkit-stroke: #ffffee;
    -moz-stroke: #ffffee;
    -ms-stroke: #ffffee;
    -o-stroke: #ffffee;
    stroke: #ffffee;
  }

  /* line 735, ../scss/moduls/_animations.scss */
  50% {
    -webkit-fill: none;
    -moz-fill: none;
    -ms-fill: none;
    -o-fill: none;
    fill: none;
    -webkit-stroke: #0049e5;
    -moz-stroke: #0049e5;
    -ms-troke: #0049e5;
    -o-stroke: #0049e5;
    stroke: #0049e5;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }

  /* line 752, ../scss/moduls/_animations.scss */
  100% {
    -webkit-fill: none;
    -moz-fill: none;
    -ms-fill: none;
    -o-fill: none;
    fill: none;
    -webkit-stroke: #ffffee;
    -moz-stroke: #ffffee;
    -ms-stroke: #ffffee;
    -o-stroke: #ffffee;
    stroke: #ffffee;
  }
}

/* line 766, ../scss/moduls/_animations.scss */
#circle-bigA {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rootA 5s ease infinite;
  -moz-animation: rootA 5s ease infinite;
  -ms-animation: rootA 5s ease infinite;
  -o-animation: rootA 5s ease infinite;
  animation: rootA 5s ease infinite;
}

@keyframes net {
  /* line 780, ../scss/moduls/_animations.scss */
  0% {
    -webkit-fill: #0049e5;
    -moz-fill: #0049e5;
    -ms-fill: #0049e5;
    -o-fill: #0049e5;
    fill: #0049e5;
    -webkit-stroke: #ffffee;
    -moz-stroke: #ffffee;
    -ms-stroke: #ffffee;
    -o-stroke: #ffffee;
    stroke: #ffffee;
  }

  /* line 792, ../scss/moduls/_animations.scss */
  100% {
    -webkit-fill: #ffffee;
    -moz-fill: #ffffee;
    -ms-fill: #ffffee;
    -o-fill: #ffffee;
    fill: #ffffee;
    -webkit-stroke: #0049e5;
    -moz-stroke: #0049e5;
    -ms-stroke: #0049e5;
    -o-stroke: #0049e5;
    stroke: #0049e5;
  }
}

/* line 806, ../scss/moduls/_animations.scss */
#circleA, #circleB, #circleC, #circleE, #circleD, #circleWr {
  -webkit-animation: net 5s ease infinite;
  -moz-animation: net 5s ease infinite;
  -ms-animation: net 5s ease infinite;
  -o-animation: net 5s ease infinite;
  animation: net 5s ease infinite;
}

@keyframes waves {
  /* line 815, ../scss/moduls/_animations.scss */
  0% {
    -webkit-fill: #ffffee;
    -moz-fill: #ffffee;
    -ms-fill: #ffffee;
    -o-fill: #ffffee;
    fill: #ffffee;
  }

  /* line 822, ../scss/moduls/_animations.scss */
  100% {
    -webkit-fill: #0049e5;
    -moz-fill: #0049e5;
    -ms-fill: #0049e5;
    -o-fill: #0049e5;
    fill: #0049e5;
  }
}

/* line 831, ../scss/moduls/_animations.scss */
#EWa1, #EWa2 {
  -webkit-animation: waves 3s ease-in-out infinite;
  -moz-animation: waves 3s ease-in-out infinite;
  -ms-animation: waves 3s ease-in-out infinite;
  -o-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}

/* line 839, ../scss/moduls/_animations.scss */
#EWa3, #EWa4 {
  -webkit-animation: waves 4s ease-in-out infinite;
  -moz-animation: waves 4s ease-in-out infinite;
  -ms-animation: waves 4s ease-in-out infinite;
  -o-animation: waves 4s ease-in-out infinite;
  animation: waves 4s ease-in-out infinite;
}

/* line 848, ../scss/moduls/_animations.scss */
#EWa5, #EWa6 {
  -webkit-animation: waves 5s ease-in-out infinite;
  -moz-animation: waves 5s ease-in-out infinite;
  -ms-animation: waves 5s ease-in-out infinite;
  -o-animation: waves 5s ease-in-out infinite;
  animation: waves 5s ease-in-out infinite;
}

/*----------end network----------*/
/*----about-----*/
@keyframes speechM {
  /* line 861, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  /* line 868, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}

/* line 877, ../scss/moduls/_animations.scss */
#move-speechM {
  -webkit-animation: speechM .75s ease infinite;
  -moz-animation: speechM .75s ease infinite;
  -ms-animation: speechM .75s ease infinite;
  -o-animation: speechM .75s ease infinite;
  animation: speechM .75s ease infinite;
}

@keyframes tik-tok {
  /* line 886, ../scss/moduls/_animations.scss */
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }

  /* line 893, ../scss/moduls/_animations.scss */
  25% {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
  }

  /* line 900, ../scss/moduls/_animations.scss */
  50% {
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
  }

  /* line 907, ../scss/moduls/_animations.scss */
  100% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

/* line 916, ../scss/moduls/_animations.scss */
#headW {
  -webkit-animation: tik-tok 1.3s ease infinite;
  -moz-animation: tik-tok 1.3s ease infinite;
  -ms-animation: tik-tok 1.3s ease infinite;
  -o-animation: tik-tok 1.3s ease infinite;
  animation: tik-tok 1.3s ease infinite;
}

/*components*/
/*--------------------------
    Robot-------  */
/* line 6, ../scss/moduls/_components.scss */
#robot-head {
  width: 70px;
  height: 70px;
  fill: #886611;
  stroke: #886611;
}

/* line 13, ../scss/moduls/_components.scss */
#robot-cap {
  width: 23px;
  height: 10px;
  fill: #886611;
  stroke: #886611;
}

/* line 20, ../scss/moduls/_components.scss */
#line-antennae1, #line-antennae2 {
  fill: #886611;
  stroke: #886611;
  stroke-width: 3px;
}

/* line 26, ../scss/moduls/_components.scss */
#circle-antennae1, #circle-antennae2 {
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 31, ../scss/moduls/_components.scss */
#robot-ear1, #robot-ear2 {
  width: 10px;
  height: 20px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 38, ../scss/moduls/_components.scss */
#eye1, #eye2 {
  fill: white;
  stroke: white;
}

/* line 43, ../scss/moduls/_components.scss */
#eye11, #eye22 {
  fill: #0035a8;
  stroke: #0035a8;
}

/* line 48, ../scss/moduls/_components.scss */
#mouth {
  width: 40px;
  height: 6px;
  fill: white;
  stroke: white;
}

/* line 55, ../scss/moduls/_components.scss */
#neck {
  width: 30px;
  height: 10px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 62, ../scss/moduls/_components.scss */
#torso {
  width: 95px;
  height: 70px;
  fill: #886611;
  stroke: #886611;
}

/* line 69, ../scss/moduls/_components.scss */
#leg1, #leg2 {
  width: 20px;
  height: 60px;
  fill: #886611;
  stroke: #886611;
}

/* line 76, ../scss/moduls/_components.scss */
#shoe1, #shoe2 {
  width: 30px;
  height: 20px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 83, ../scss/moduls/_components.scss */
#join-arm1, #join-arm2 {
  width: 5px;
  height: 15px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 90, ../scss/moduls/_components.scss */
#arm1, #arm2 {
  width: 15px;
  height: 60px;
  fill: #886611;
  stroke: #886611;
}

/* line 97, ../scss/moduls/_components.scss */
#hand1, #hand2 {
  width: 25px;
  height: 5px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 104, ../scss/moduls/_components.scss */
#finger1, #finger2, #finger3, #finger4 {
  width: 6px;
  height: 20px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 111, ../scss/moduls/_components.scss */
#table {
  width: 75px;
  height: 30px;
  fill: #0049e5;
  stroke: #0049e5;
}

/* line 118, ../scss/moduls/_components.scss */
#button1, #button2, #button3 {
  fill: #f28f79;
  stroke: #f28f79;
}

/*--end Robot ---------------*/
/*------database--------------*/
/* line 126, ../scss/moduls/_components.scss */
#top-line, #line {
  stroke: #993322;
  stroke-width: 5px;
}

/* line 131, ../scss/moduls/_components.scss */
#arrow {
  fill: #993322;
  stroke: #993322;
  stroke-width: 1px;
}

/* line 137, ../scss/moduls/_components.scss */
#datab {
  width: 100px;
  height: 80px;
  fill: #0049e5;
  stroke: #993322;
  stroke-width: 4px;
}

/* line 145, ../scss/moduls/_components.scss */
#stripA, #stripB, #stripC {
  width: 100px;
  height: 10px;
  fill: #f2f2f2;
  stroke: #f2f2f2;
  stroke-width: 1px;
}

/* line 153, ../scss/moduls/_components.scss */
#monitor {
  width: 220px;
  height: 70px;
  fill: white;
  stroke: #993322;
  stroke-width: 4px;
}

/* line 161, ../scss/moduls/_components.scss */
#F1 {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 3px;
}

/*----end database-------------*

/*-----web-----------*/
/*lamp*/
/* line 170, ../scss/moduls/_components.scss */
#lamp-footA, #lamp-footB {
  fill: #0035a8;
}

/* line 174, ../scss/moduls/_components.scss */
#lamp-legA {
  fill: #0035a8;
  width: 8px;
  height: 55px;
}

/* line 180, ../scss/moduls/_components.scss */
#lamp-legB {
  fill: #0035a8;
  width: 8px;
  height: 65px;
}

/* line 186, ../scss/moduls/_components.scss */
#leg-join, #lamp-join {
  fill: #0035a8;
  stroke: white;
  stroke-width: 2px;
}

/* line 192, ../scss/moduls/_components.scss */
#lampA {
  fill: #0035a8;
  height: 40px;
  width: 30px;
}

/* line 198, ../scss/moduls/_components.scss */
#lamp-bulb {
  fill: #ffffee;
}

/*end lamp*/
/*computer*/
/* line 207, ../scss/moduls/_components.scss */
#computer {
  fill: white;
  stroke: #993322;
  stroke-width: 10px;
  width: 170px;
  height: 130px;
}

/* line 215, ../scss/moduls/_components.scss */
#comp-leg {
  fill: #993322;
}

/*end computer*/
/*mobil*/
/* line 222, ../scss/moduls/_components.scss */
#mobil {
  fill: white;
  stroke: #993322;
  stroke-width: 5px;
  width: 40px;
  height: 65px;
}

/* line 230, ../scss/moduls/_components.scss */
#tabloid {
  fill: white;
  stroke: #993322;
  stroke-width: 5px;
  width: 90px;
  height: 115px;
}

/* line 238, ../scss/moduls/_components.scss */
#SA {
  fill: #f28f79;
  stroke: #f28f79;
  stroke-width: 1px;
  width: 30px;
  height: 11px;
}

/* line 246, ../scss/moduls/_components.scss */
#SB {
  fill: #f28f79;
  stroke: #f28f79;
  stroke-width: 1px;
  width: 30px;
  height: 60px;
}

/* line 254, ../scss/moduls/_components.scss */
#SC {
  fill: #8899aa;
  stroke: #8899aa;
  stroke-width: 1px;
  width: 90px;
  height: 11px;
}

/* line 262, ../scss/moduls/_components.scss */
#SD {
  fill: #f28f79;
  stroke: #f28f79;
  stroke-width: 1px;
  width: 90px;
  height: 60px;
}

/* line 270, ../scss/moduls/_components.scss */
#SE {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 1px;
  width: 120px;
  height: 11px;
}

/* line 278, ../scss/moduls/_components.scss */
#MSA {
  fill: #99b9ff;
  stroke: #99b9ff;
  stroke-width: 1px;
  width: 29px;
  height: 6px;
}

/* line 286, ../scss/moduls/_components.scss */
#MSB {
  fill: #f2deda;
  stroke: #f2deda;
  stroke-width: 1px;
  width: 13px;
  height: 25px;
}

/* line 294, ../scss/moduls/_components.scss */
#MSC {
  fill: #886611;
  stroke: #886611;
  stroke-width: 1px;
  width: 29px;
  height: 8px;
}

/* line 302, ../scss/moduls/_components.scss */
#TSA {
  fill: #d7d9dd;
  stroke: #d7d9dd;
  stroke-width: 1px;
  width: 75px;
  height: 20px;
}

/* line 310, ../scss/moduls/_components.scss */
#TSB {
  fill: #99b9ff;
  stroke: #99b9ff;
  stroke-width: 1px;
  width: 20px;
  height: 50px;
}

/* line 318, ../scss/moduls/_components.scss */
#TSC {
  fill: #3d424c;
  stroke: #3d424c;
  stroke-width: 1px;
  width: 20px;
  height: 50px;
}

/* line 326, ../scss/moduls/_components.scss */
#TSD {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 1px;
  width: 20px;
  height: 50px;
}

/* line 334, ../scss/moduls/_components.scss */
#TSE {
  fill: #f28f79;
  stroke: #f28f79;
  stroke-width: 1px;
  width: 75px;
  height: 15px;
}

/*--------- end web-----*/
/*---server----*/
/* line 346, ../scss/moduls/_components.scss */
ellipse {
  fill: #ffffee;
  stroke: #ffffee;
  stroke-width: 1px;
}

/* line 352, ../scss/moduls/_components.scss */
#copmA, #copmB, #copmC {
  fill: #993322;
  stroke: #2B2B2B;
  stroke-width: 2px;
  width: 50px;
  height: 100px;
}

/* line 360, ../scss/moduls/_components.scss */
#lineA {
  fill: #d8b5ad;
  stroke: #2B2B2B;
  stroke-width: 2px;
  width: 8px;
  height: 35px;
}

/* line 368, ../scss/moduls/_components.scss */
#lineD {
  fill: #d8b5ad;
  stroke: #2B2B2B;
  stroke-width: 2px;
  width: 210px;
  height: 8px;
}

/* line 376, ../scss/moduls/_components.scss */
#lineB {
  fill: #d8b5ad;
  stroke: #2B2B2B;
  stroke-width: 2px;
  width: 8px;
  height: 21px;
}

/* line 384, ../scss/moduls/_components.scss */
line {
  fill: white;
  stroke: white;
  stroke-width: 3px;
}

/* line 390, ../scss/moduls/_components.scss */
#comp-win {
  fill: white;
  stroke: white;
  stroke-width: 1px;
  width: 8px;
  height: 10px;
}

/*------end server-------*/
/*----network--------*/
/* line 402, ../scss/moduls/_components.scss */
#circle-big {
  fill: #0049e5;
  stroke: #ffffee;
  stroke-width: 3px;
}

/* line 408, ../scss/moduls/_components.scss */
#circle-bigA {
  fill: none;
  stroke: #ffffee;
  stroke-width: 3px;
}

/* line 414, ../scss/moduls/_components.scss */
#circleA, #circleB, #circleC, #circleE, #circleD, #circleWr {
  fill: #0049e5;
  stroke: #ffffee;
  stroke-width: 3px;
}

/* line 421, ../scss/moduls/_components.scss */
#EWa1, #EWa2, #EWa3, #EWa4, #EWa5, #EWa6 {
  fill: #ffffee;
  stroke: #ffffee;
  stroke-width: 1px;
}

/* line 427, ../scss/moduls/_components.scss */
#LA, #LB, #LC, #LD, #LE {
  fill: #ffffee;
  stroke: #ffffee;
  stroke-width: 4px;
}

/*--------end network------------*/
/*----About-----*/
/* line 436, ../scss/moduls/_components.scss */
#speechM {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 1px;
  width: 70px;
  height: 60px;
}

/* line 444, ../scss/moduls/_components.scss */
#headM {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 1px;
}

/* line 450, ../scss/moduls/_components.scss */
#bodyM {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 1px;
  width: 50px;
  height: 50px;
}

/* line 458, ../scss/moduls/_components.scss */
#bodyMdown {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 1px;
}

/* line 464, ../scss/moduls/_components.scss */
#pA {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 1px;
}

/* line 470, ../scss/moduls/_components.scss */
#AM1, #AM2 {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 8px;
}

/* line 476, ../scss/moduls/_components.scss */
#heandM1, #heandM2 {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 1px;
}

/* line 482, ../scss/moduls/_components.scss */
#stickM {
  fill: #0049e5;
  stroke: #0049e5;
  stroke-width: 3px;
}

/* line 488, ../scss/moduls/_components.scss */
#headW {
  fill: #993322;
  stroke: #993322;
  stroke-width: 1px;
}

/* line 494, ../scss/moduls/_components.scss */
#bodyWdown {
  fill: #993322;
  stroke: #993322;
  stroke-width: 1px;
}

/* line 500, ../scss/moduls/_components.scss */
#bodyW {
  fill: #993322;
  stroke: #993322;
  stroke-width: 1px;
  width: 50px;
  height: 50px;
}

/* line 508, ../scss/moduls/_components.scss */
#speechW {
  fill: #993322;
  stroke: #993322;
  stroke-width: 1px;
  width: 70px;
  height: 60px;
}

/* line 516, ../scss/moduls/_components.scss */
#AW1, #AW2 {
  fill: #993322;
  stroke: #993322;
  stroke-width: 8px;
}

/* line 522, ../scss/moduls/_components.scss */
#heandW1 {
  fill: #993322;
  stroke: #993322;
  stroke-width: 1px;
}

/* line 528, ../scss/moduls/_components.scss */
#stickW {
  fill: #993322;
  stroke: #993322;
  stroke-width: 3px;
}

/* line 534, ../scss/moduls/_components.scss */
#pB {
  fill: #993322;
  stroke: #993322;
  stroke-width: 1px;
}

/*------end about----*/
/*_sections.scss*/
/* line 3, ../scss/moduls/_sections.scss */
section {
  padding: 100px 0;
  margin: auto;
}
/* line 7, ../scss/moduls/_sections.scss */
section h2 {
  margin: 0;
  font-size: 3em;
}

/* line 14, ../scss/moduls/_sections.scss */
#web, #network {
  background-color: #aaccdd;
  color: #886611;
}

/* line 20, ../scss/moduls/_sections.scss */
#data, #server, #about {
  background-color: #bbdddd;
  color: #3d424c;
}

/* line 26, ../scss/moduls/_sections.scss */
#data .panelD1, #data .panelD2, #data .panelD3 {
  padding: 15px;
  margin-bottom: 15px;
}
/* line 30, ../scss/moduls/_sections.scss */
#data .panelD1, #data .panelD2, #data .panelD3 {
  background: #ffffee;
  border-bottom: solid 20px #117788;
}
/* line 36, ../scss/moduls/_sections.scss */
#data .well {
  background: #ffffee;
  border-bottom: solid 20px #993322;
}
/* line 41, ../scss/moduls/_sections.scss */
#data #pD {
  text-align: center;
}
/* line 46, ../scss/moduls/_sections.scss */
#data .glyphicon-tasks, #data .glyphicon-stats, #data .glyphicon-transfer {
  color: #117788;
  font-size: 40px;
}

/*Layouts - Page layout style*/
/*_footer.scss*/
/* line 3, ../scss/layouts/_footer.scss */
footer {
  padding: 25px 0;
  text-align: center;
  background-color: #3d424c;
}

/*header*/
/* line 3, ../scss/layouts/_header.scss */
header {
  text-align: center;
  background: #8899aa;
}
/* line 7, ../scss/layouts/_header.scss */
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
/* line 12, ../scss/layouts/_header.scss */
header .jumbotron {
  background: #d7d9dd;
  border-bottom: solid 20px #3d424c;
}
/* line 17, ../scss/layouts/_header.scss */
header svg {
  display: block;
  margin: 0 auto 20px;
}
/* line 22, ../scss/layouts/_header.scss */
header .intro-text .welcome {
  display: block;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  color: #117788;
}
/* line 31, ../scss/layouts/_header.scss */
header .intro-text .make {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
}

/*mobile*/
/*header*/
@media (min-width: 768px) {
  /* line 6, ../scss/layouts/_mobile.scss */
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  /* line 11, ../scss/layouts/_mobile.scss */
  header .intro-text .welcome {
    font-size: 4.75em;
  }

  /* line 15, ../scss/layouts/_mobile.scss */
  header .intro-text .make {
    font-size: 1.75em;
  }

  /* line 19, ../scss/layouts/_mobile.scss */
  section {
    font-size: 1em;
  }
}
/*----end header--------*/
/*navbar*/
@media (min-width: 768px) {
  /* line 29, ../scss/layouts/_mobile.scss */
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  /* line 36, ../scss/layouts/_mobile.scss */
  .navbarfixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* line 43, ../scss/layouts/_mobile.scss */
  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }

  /* line 47, ../scss/layouts/_mobile.scss */
  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
/*-----end navbar---------*/
/*sections*/
@media (max-width: 768px) {
  /* line 56, ../scss/layouts/_mobile.scss */
  section {
    padding: 75px 0;
  }

  /* line 60, ../scss/layouts/_mobile.scss */
  section.first {
    padding-top: 75px;
  }
}
@media screen and (max-width: 992px) {
  /* line 67, ../scss/layouts/_mobile.scss */
  svg {
    display: block;
  }
}
/*Navbar*/
/* line 3, ../scss/layouts/_nav.scss */
.navbar {
  background-color: #002266;
  color: white;
  margin: auto;
}
/* line 8, ../scss/layouts/_nav.scss */
.navbar a {
  color: white !important;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 16, ../scss/layouts/_nav.scss */
.navbar a.navbar-brand {
  font-size: 1.5em;
}
/* line 21, ../scss/layouts/_nav.scss */
.navbar .navbar-nav {
  letter-spacing: 1px;
}
