/*_animations.scss*/

/*Robot------------------*/

/*color animation*/

@keyframes table-color{
    0% {fill: $robot-table;}
    100% {fill: $robot-table2;}
}

#table {
    animation: table-color 1s infinite linear;
}

@keyframes button-color {
    0% {fill: $robot-button;}
    50% {transform: scale(1.5);}
    100% {fill: $base-color;}
}

#button3 {
    transform-origin: center;
    animation: button-color 5s infinite .5s;
}

/*moving robot*/

@keyframes up-down-left {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(50deg);}
    100% {transform: rotate(-1deg);}
    }

#left-arm {
        transform-origin: 84px 140px;
        animation: up-down-left 2s ease-in .5s;
    }

@keyframes up-down-right{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-50deg);}
    100% {transform: rotate(1deg);}
    }

#right-arm {
        transform-origin: 188px 140px;
        animation: up-down-right 2s ease-in .5s;
    }

@keyframes head-shake {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(30deg);}
    20% {transform: rotate(0deg);}
    30% {transform: rotate(30deg);}
    40% {transform: rotate(0deg);}
    50% {transform: rotate(-30deg);}
    60% {transform: rotate(0deg);}
    70% {transform: rotate(-30deg);}
}

#head {
    transform-origin: center;
    animation: head-shake 4s ease 3s;
}

@keyframes ears-up {
    0% {transform: translateY(0px);}
    25% {transform: translateY(10px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}

#ears {

    animation:ears-up 1s ease 7s;
}

@keyframes leg-up {
     0% {transform: translateY(0px);}
    25% {transform: translateY(-20px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}

#robot-leg1 {
    animation: leg-up 3s ease-in 7s;
}

#robot-leg2{
    animation: leg-up 3s ease-in 8s;
}

@keyframes antennae1 {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(-10deg);}
}

#head-antennae1 {
    transform-origin: 135px 35px;
    animation: antennae1 1s ease infinite 8s;
}

@keyframes antennae2 {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(20deg);}
}

#head-antennae2 {
   transform-origin: 135px 35px;
   animation: antennae2 1s ease infinite 8s;
}

/*-----end robot animations*/

/*---data----*/
@keyframes strips {
    0% {fill: $data-strip;}
    25% {fill: $second-color;}
    50% {fill: $primary-color;}
    75% {fill: $lamp-bulb;}
    100% {fill: $th-color;}
}

#stripA {
    animation: strips 2s ease-in-out infinite;
}

#stripB {
    animation: strips 3s ease-in-out infinite 1s;
}

#stripC {
    animation: strips 1s ease-in-out infinite;
}

@keyframes fun-up-down {
    0% {transform: translateY(0px);}
    25% {transform: translateY(5px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(-5px);}
}

#F1{
    animation: fun-up-down 1s ease infinite;
}

/*-----end data-------*/

/*---web------*/

@keyframes lamp-rot {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(360deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(360deg);}
}

#lamp-head {
    transform-origin: 68px 103px;
    animation: lamp-rot 4s ease infinite;
}

@keyframes bulb {
    0% {transform: scale(1);}
    100% {transform: scale(1.2); fill:$robot-table;}
}

#lamp-bulb {
    transform-origin: center;
    animation: bulb .5s linear infinite 4s;
}
/*-------end web---------*/


/*-------servers-----------*/
@keyframes servers {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-20px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}

#comA {
    animation: servers 1s ease infinite;
}

#comB {
    animation: servers 1s ease infinite 1s;
}

#comC {
   animation: servers 1s ease infinite 2s;
}

@keyframes cloud {
    0% {transform: translateX(0px);}
    25% {transform: translateX(30px);}
    50% {transform: translateX(0px);}
    75% {transform: translateX(-30px);}
    100% {transform: translateX(0px);}
}

#comp-cloud {
    animation: cloud 5s linear infinite 3s;
}
