/*components*/

/*--------------------------
    Robot-------  */

#robot-head {
    width: 70px;
    height: 70px;
    fill:$robot-color;
    stroke:$robot-color;
}

#robot-cap {
    width: 23px;
    height: 10px;
    fill:$robot-color;
    stroke:$robot-color;
}

#line-antennae1, #line-antennae2{
  fill:$robot-color;
  stroke:$robot-color;
  stroke-width: 3px;
}

#circle-antennae1, #circle-antennae2{
  fill:$base-color;
  stroke:$base-color;
}

#robot-ear1, #robot-ear2 {
    width: 10px;
    height: 20px;
    fill:$base-color;
    stroke:$base-color;
}

#eye1, #eye2 {
    fill:$primary-color;
    stroke:$primary-color;
}

#eye11, #eye22 {
    fill:$robot-eye2;
    stroke:$robot-eye2;
}

#mouth {
    width: 40px;
    height: 6px;
    fill:$primary-color;
    stroke:$primary-color;
}

#neck {
    width: 30px;
    height: 10px;
    fill:$base-color;
    stroke:$base-color;
}

#torso {
    width: 95px;
    height: 70px;
    fill:$robot-color;
    stroke:$robot-color;
}

#leg1, #leg2 {
    width: 20px;
    height: 60px;
    fill:$robot-color;
    stroke:$robot-color;
}

#shoe1, #shoe2 {
    width: 30px;
    height: 20px;
    fill:$base-color;
    stroke:$base-color;
}

#join-arm1, #join-arm2 {
    width: 5px;
    height: 15px;
    fill:$base-color;
    stroke:$base-color;
}

#arm1, #arm2 {
    width: 15px;
    height: 60px;
    fill:$robot-color;
    stroke:$robot-color;
}

#hand1, #hand2 {
    width: 25px;
    height: 5px;
    fill:$base-color;
    stroke:$base-color;
}

#finger1, #finger2, #finger3, #finger4 {
    width: 6px;
    height: 20px;
    fill:$base-color;
    stroke:$base-color;
}

#table {
   width: 75px;
   height: 30px;
   fill:$robot-table;
   stroke:$robot-table;
}

#button1, #button2, #button3 {
   fill:$robot-button;
   stroke:$robot-button;
}
/*--end Robot ---------------*/
