/*components*/

/*--------------------------
    Robot-------  */

#robot-head {
    width: 70px;
    height: 70px;
    fill:$robot-color;
    stroke:$robot-color;
}

#robot-cap {
    width: 23px;
    height: 10px;
    fill:$robot-color;
    stroke:$robot-color;
}

#line-antennae1, #line-antennae2{
  fill:$robot-color;
  stroke:$robot-color;
  stroke-width: 3px;
}

#circle-antennae1, #circle-antennae2{
  fill:$base-color;
  stroke:$base-color;
}

#robot-ear1, #robot-ear2 {
    width: 10px;
    height: 20px;
    fill:$base-color;
    stroke:$base-color;
}

#eye1, #eye2 {
    fill:$primary-color;
    stroke:$primary-color;
}

#eye11, #eye22 {
    fill:$robot-eye2;
    stroke:$robot-eye2;
}

#mouth {
    width: 40px;
    height: 6px;
    fill:$primary-color;
    stroke:$primary-color;
}

#neck {
    width: 30px;
    height: 10px;
    fill:$base-color;
    stroke:$base-color;
}

#torso {
    width: 95px;
    height: 70px;
    fill:$robot-color;
    stroke:$robot-color;
}

#leg1, #leg2 {
    width: 20px;
    height: 60px;
    fill:$robot-color;
    stroke:$robot-color;
}

#shoe1, #shoe2 {
    width: 30px;
    height: 20px;
    fill:$base-color;
    stroke:$base-color;
}

#join-arm1, #join-arm2 {
    width: 5px;
    height: 15px;
    fill:$base-color;
    stroke:$base-color;
}

#arm1, #arm2 {
    width: 15px;
    height: 60px;
    fill:$robot-color;
    stroke:$robot-color;
}

#hand1, #hand2 {
    width: 25px;
    height: 5px;
    fill:$base-color;
    stroke:$base-color;
}

#finger1, #finger2, #finger3, #finger4 {
    width: 6px;
    height: 20px;
    fill:$base-color;
    stroke:$base-color;
}

#table {
   width: 75px;
   height: 30px;
   fill:$robot-table;
   stroke:$robot-table;
}

#button1, #button2, #button3 {
   fill:$robot-button;
   stroke:$robot-button;
}
/*--end Robot ---------------*/

/*------database--------------*/

#top-line, #line {
    stroke: $database-line;
    stroke-width: 5px;
}

#arrow {
    fill: $database-line;
    stroke:$database-line;
    stroke-width: 1px;
}

#datab {
    width: 100px;
    height: 80px;
    fill: $robot-table;
    stroke:$database-line;
    stroke-width: 4px
}

#stripA, #stripB, #stripC {
    width: 100px;
    height: 10px;
    fill:$data-strip ;
    stroke: $data-strip;
    stroke-width: 1px;
}

#monitor {
    width: 220px;
    height: 70px;
    fill:$primary-color;
    stroke: $database-line;
    stroke-width: 4px;
}

#F1 {
    fill: $base-color;
    stroke: $base-color;
    stroke-width: 3px;
}
/*----end database-------------*

/*-----web-----------*/
/*lamp*/
#lamp-footA, #lamp-footB {
    fill: $lamp;
}

#lamp-legA {
    fill: $lamp;
    width: 8px;
    height: 55px;
}

 #lamp-legB {
   fill: $lamp;
    width: 8px;
    height: 65px;
}

#leg-join, #lamp-join {
    fill: $lamp;
    stroke: $primary-color;
    stroke-width: 2px;
}

#lampA {
    fill:$lamp;
    height: 40px;
    width: 30px;
}

#lamp-bulb {
    fill:$lamp-bulb;
}

/*end lamp*/


/*computer*/

#computer {
    fill: $primary-color;
    stroke: $database-line;
    stroke-width: 10px;
    width: 170px;
    height: 130px;
}

#comp-leg {
    fill:$database-line;
}
/*end computer*/

/*mobil*/

#mobil {
    fill: $primary-color;
    stroke: $database-line;
    stroke-width: 5px;
    width: 40px;
    height: 65px;
}

#tabloid {
    fill: $primary-color;
    stroke: $database-line;
    stroke-width: 5px;
    width: 90px;
    height: 115px;
}

#SA {
    fill: $SA;
    stroke: $SA;
    stroke-width: 1px;
    width: 30px;
    height: 11px;
}

#SB {
  fill: $SA;
  stroke: $SA;
  stroke-width: 1px;
  width: 30px;
  height: 60px;
}

#SC {
    fill: $SC;
    stroke:$SC;
    stroke-width: 1px;
    width: 90px;
    height: 11px;
}

#SD {
    fill: $robot-button;
    stroke: $robot-button;
    stroke-width: 1px;
    width: 90px;
    height: 60px;
}

#SE {
   fill: $robot-table;
   stroke: $robot-table;
   stroke-width: 1px;
   width: 120px;
   height: 11px;
}

#MSA {
   fill: $MSA;
   stroke: $MSA;
   stroke-width: 1px;
   width: 29px;
   height: 6px;
}

#MSB {
   fill: $MSB;
   stroke: $MSB;
   stroke-width: 1px;
   width: 13px;
   height: 25px;
}

#MSC {
  fill: $MSC;
  stroke: $MSC;
  stroke-width: 1px;
  width: 29px;
  height: 8px;
}

#TSA {
      fill: $TSA;
      stroke: $TSA;
      stroke-width: 1px;
      width: 75px;
      height: 20px;
}

#TSB{
    fill:$MSA;
    stroke: $MSA;
    stroke-width: 1px;
    width: 20px;
    height: 50px;
}

#TSC {
   fill: $footer-color;
   stroke: $footer-color;
   stroke-width: 1px;
   width: 20px;
   height: 50px;
}

#TSD {
   fill:$robot-table;
   stroke:$robot-table;
   stroke-width: 1px;
   width: 20px;
   height: 50px;
}

#TSE {
   fill:$SA;
   stroke:$SA;
   stroke-width: 1px;
   width: 75px;
   height: 15px;
}

/*--------- end web-----*/

/*---server----*/

ellipse {
    fill: $robot-table2;
    stroke:$robot-table2;
    stroke-width: 1px;
}

#copmA, #copmB, #copmC {
    fill: $database-line;
    stroke: #2B2B2B;
    stroke-width: 2px;
    width: 50px;
    height: 100px;
}

#lineA {
    fill:$th-color;
    stroke: #2B2B2B;
    stroke-width: 2px;
    width: 8px;
    height: 35px;
}

#lineD {
    fill:$th-color;
    stroke: #2B2B2B;
    stroke-width: 2px;
    width: 210px;
    height: 8px
}

#lineB {
    fill:$th-color;
    stroke: #2B2B2B;
    stroke-width: 2px;
    width: 8px;
    height: 21px;
}

line {
    fill: $primary-color;
    stroke: $primary-color;
    stroke-width: 3px;
}

#comp-win {
    fill: $primary-color;
    stroke: $primary-color;
    stroke-width: 1px;
    width: 8px;
    height: 10px;
}

/*------end server-------*/

/*----network--------*/

#circle-big {
    fill: $robot-table;
    stroke: $lamp-bulb;
    stroke-width: 3px;
}

#circle-bigA {
   fill: none;
   stroke: $lamp-bulb;
   stroke-width: 3px;
}

#circleA, #circleB, #circleC, #circleE, #circleD, #circleWr{
    fill: $robot-table;
    stroke: $lamp-bulb;
    stroke-width: 3px;
}


#EWa1, #EWa2, #EWa3, #EWa4, #EWa5, #EWa6{
    fill:$lamp-bulb;
    stroke: $lamp-bulb;
    stroke-width: 1px;
}

#LA, #LB, #LC, #LD, #LE {
  fill:$lamp-bulb;
  stroke: $lamp-bulb;
  stroke-width: 4px
}
/*--------end network------------*/

/*----About-----*/

#speechM {
    fill:$base-color;
    stroke: $base-color;
    stroke-width:1px;
    width: 70px;
    height: 60px;
}

#headM {
    fill: $base-color;
    stroke: $base-color;
    stroke-width: 1px;
}

#bodyM {
    fill:$base-color;
    stroke: $base-color;
    stroke-width:1px;
    width: 50px;
    height: 50px;
}

#bodyMdown {
   fill: $base-color;
   stroke: $base-color;
   stroke-width: 1px;
}

#pA {
  fill: $base-color;
  stroke: $base-color;
  stroke-width: 1px;
}

#AM1,#AM2 {
  fill: $base-color;
  stroke: $base-color;
  stroke-width: 8px;
}

#heandM1, #heandM2 {
  fill: $base-color;
  stroke: $base-color;
  stroke-width: 1px;
}

#stickM {
  fill: $base-color;
  stroke: $base-color;
  stroke-width: 3px;
}

#headW {
   fill:$robot-color;
   stroke:$robot-color;
   stroke-width: 1px;
}

#bodyWdown {
  fill:$robot-color;
  stroke:$robot-color;
  stroke-width: 1px;
}

#bodyW {
   fill:$robot-color;
   stroke:$robot-color;
   stroke-width:1px;
   width: 50px;
   height: 50px;
}

#speechW {
  fill:$robot-color;
  stroke:$robot-color;
  stroke-width:1px;
  width: 70px;
  height: 60px;
}

#AW1, #AW2 {
  fill:$robot-color;
  stroke:$robot-color;
  stroke-width:8px;
}

#heandW1 {
  fill: $robot-color;
  stroke: $robot-color;
  stroke-width: 1px;
}

#stickW {
  fill:$robot-color;
  stroke:$robot-color;
  stroke-width: 3px;
}

#pB {
  fill: $robot-color;
  stroke:$robot-color;
  stroke-width: 1px;
}
/*------end about----*/
