/*_sections.scss*/

section {
    padding: 50px 0;
    margin: auto;

    h2 {
        margin: 0;
        font-size:3em;
    }

}

#web, #network {
  background-color:$second-color;
  color:$robot-color;

}

#data, #server, #about {
   background-color: $data;
   color:$footer-color;
}

#data{
  .panelD1, .panelD2, .panelD3 {
        padding: 15px;
        margin-bottom: 15px;
        background: $robot-table2;
        border-bottom: solid 20px $sixty-color;
    }

    .well {
        background: $robot-table2;
        border-bottom: solid 20px $fire-color;
    }

    h4 {
        padding: 25px;
        text-align:center;
    }


    .glyphicon-tasks, .glyphicon-stats, .glyphicon-transfer {
        color: $robot-eye2;
        font-size: 40px;
    }
}

#web {
    .panel{
        padding: 15px;
        margin-bottom: 15px;
        background: $MSB;
        border-bottom: solid 20px $seventh-color;

        .panel-body {
            span {
                margin: 15px;
                margin-left: 4px;
            }
        }


        .b1, .b2, .b3, .b4 {
            text-align: center;
        }
}

    h4 {
     text-align: center;
    }

    .well {
        background:$MSB;
        border-bottom: solid 20px $nav-color;
    }

    .glyphicon-thumbs-up {
        color: $sixty-color;
        font-weight: 700;
    }

    .glyphicon-eye-open, .glyphicon-pencil {
       color: $sixty-color;
       font-size: 40px;
    }
}

#server {
    .panel {
        padding: 25px;
        margin-bottom:15px;
        background: $data-strip;

        .panel-body {
            span {
              margin: 15px;
              margin-left: 4px;
            }
        }

        .glyphicon-hdd, .glyphicon-bell {
            font-size: 40px;
            color: $robot-eye2;
        }
    }

    .well {
        background:$data-strip;
    }

    h4 {
        text-align: center;
    }

}
