/*_variables.scss*/

/*Fonts*/

$base-font-family:"Roboto", sans-serif;
$second-font-family: "Ubuntu", sans-serif;
$base-font-color: #FFFFFF;
$second-font-color: #002266;
$light-font-color:#99B2FF;
$base-font-size: 20px;



/*Background Color*/

$primary-color:#ffffff;
$second-color:#CCD8FF;
$th-color:#E3E5EA;
$nav-color:#002266;
$first-line-color:#7F6C3F;
