/*_variables.scss*/

/*Fonts*/

$base-font-family:"Roboto", sans-serif;
$second-font-family: "Ubuntu", sans-serif;
$base-font-color: #FFFFFF;
$second-font-color: #002266;
$light-font-color:#99B2FF;
$base-font-size: 20px;



/*Background Color*/
$base-color:#0049E5;
$primary-color:#ffffff;
$second-color:#CCD8FF;
$th-color:#E3E5EA;
$nav-color:#002266;
$fire-color:#7F6C3F;
$robot-color:#997722;
$robot-eye2:#3D424C;
$robot-table: #F2C779;
$robot-button: #DDDDBB;
$robot-table2:#99BCFF;
$footer-color:#776655;


