/*_variables.scss*/

/*Fonts*/

$base-font-family:"Roboto", sans-serif;
$second-font-family: "Ubuntu", sans-serif;
$base-font-color: #FFFFFF;
$second-font-color: #002266;
$light-color:#99B2FF;
$base-font-size: 18px;



/*Background Color*/

$primary-color:#ffffff;
$second-color:#CCD8FF;
$nav-color:#002266;
