/*header*/

header {
    text-align: center;
    /*background:$SC;*/



  .jumbotron {
        background:$base-font-color;
        border-bottom: solid 20px $sixty-color;
        border-left: solid 5px $fifty-color;
        border-right: solid 5px $fifty-color;
        border-top: solid 5px $fifty-color;
    }




    svg {
        display: block;
        margin: 0 auto 20px;
    }

    .intro-text .welcome {
        display: block;
        font-family: $second-font-family;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
        color:$sixty-color;
    }

    .intro-text .make {
        font-size: 1.25em;
        font-weight: 700;
        text-transform: uppercase;
    }
}
