/*header*/

header {
    text-align: center;
    background:$SC;

    .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .jumbotron {
        background:$TSA;
        border-bottom: solid 20px $footer-color;
    }

    svg {
        display: block;
        margin: 0 auto 20px;
    }

    .intro-text .welcome {
        display: block;
        font-family: $second-font-family;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
        color:#117788;
    }

    .intro-text .make {
        font-size: 1.25em;
        font-weight: 700;
        text-transform: uppercase;
    }
}
