/*mobile*/


/*header*/
@media (min-width: 768px){
    header .container {
        padding-top: 140px;
        padding-bottom: 100px;
    }

    header .intro-text .welcome {
        font-size: 4.75em;
    }

    header .intro-text .make {
        font-size: 1.75em;
    }

   section {
       font-size: 1em;

    }
}
/*----end header--------*/


/*navbar*/

@media(min-width: 768px){
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    .navbarfixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }


}
/*-----end navbar---------*/

/*sections*/

@media (max-width: 768px){
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }

    header .container {
        padding-top: 100px;
    }
}

@media screen and (max-width: 992px) {

    svg {
        display: block;
    }

}


