/*Navbar*/

.navbar {
    background-color: $nav-color;
    color:$base-font-color;
    margin: auto;

    a {
        color:$base-font-color !important;
        font-family: $second-font-family;
        text-transform: uppercase;
        font-weight: 700;

    }

    a:hover,
    a:focus,
        {
        color:$robot-button !important;
        }

    .navbar-nav>.active>a {
    border-radius: 3%;
    color: #fff;
    background-color: #fed136;
    }

    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus,
    {
    color: #fff ;
    background-color: #fed136;
    }

    a.navbar-brand {
        font-size: 1.5em;
        color: #fed136 !important;

    }

    .navbar-nav {
        letter-spacing: 1px;
    }


}

