/*Navbar*/

.navbar {
    background-color: $nav-color;
    color:$base-font-color;
    margin: auto;

    a {
        color:$base-font-color !important;
        font-family: $second-font-family;
        text-transform: uppercase;
        font-weight: 700;

    }

    a.navbar-brand {
        font-size: 1.5em;

    }

    .navbar-nav {
        letter-spacing: 1px;
    }

}

